.rating-filter,
.rating-filter-list {
    display: flex;
    flex-direction: column;
}

.rating-filter {
    gap: 5px;
}

.rating-filter-title {
    font-weight: bold;
}

.rating-filter-list {
    margin: 0px 0px 0px 10px;
    padding: 0px;
    width: 50%;
}

.rating-filter-list-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rating-filter-list-item img {
    transition: transform 0.3s ease, filter 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
    fill: #666;
    stroke: none;
}

.rating-filter-list-item img:hover, 
.rating-filter-list-item.selected {
    transform: scale(1.05);
    fill: #00bfff;
    filter: drop-shadow(0 0 8px rgba(0, 191, 255, 0.5));
}