.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2897c5;
}

.middle-container {
    display: flex;
    flex-direction: row;
    background-color: white;
}