.top-container,
.middle-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.top-container {
    flex-direction: column;
    align-items: center;
    background-color: #1c688e;
}

.middle-container {
    flex-direction: row;
    background-color: white;
}

@media (max-width: 1400px) {
    body {
        font-size: 0.9rem;
    }
}

@media (max-width: 1350px) {
    body {
        font-size: 0.85rem;
    }
}

@media (max-width: 1300px) {
    body {
        font-size: 0.8rem;
    }
}

@media (max-width: 1250px) {
    body {
        font-size: 0.75rem;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 0.7rem;
    }
}

@media (max-width: 1150px) {
    body {
        font-size: 0.65rem;
    }
}

@media (max-width: 1100px) {
    body {
        font-size: 0.6rem;
    }
}

@media (max-width: 1050px) {
    body {
        font-size: 0.55rem;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 0.50rem;
    }

    .middle-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}