.card {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.restaurant-name {
    font-weight: bold;
}

.restaurant-reviews,
.restaurant-description {
    display: flex;
    flex: row;
    gap: 5px;
}

.restaurant-reviews-number-stars,
.restaurant-reviews-number-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-reviews-stars-img {
    padding-top: 5px;
}

.restaurant-description-cuisine,
.restaurant-description-area {
    padding-right: 4px;
    border-right: solid 1px #b3b3b3;
}

.restaurant-reviews span,
.restaurant-description span {
    color: #b3b3b3;
}