.cuisine-filter, 
.cuisine-filter-list {
    display: flex;
    flex-direction: column;
}

.cuisine-filter {
    gap: 5px;
}

.cuisine-filter-title {
    font-weight: bold;
}

.cuisine-filter-list {
    margin: 0px 50px 0px 10px;
    padding: 0px;
}

.cuisine-filter-list-item {
    width: 100%;
    padding: 2px;
}

.cuisine-filter-list-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cuisine-filter-list-item-content-count {
    color: #b3b3b3;
}

.available-cuisines-list-show-more-button {
    align-self: center;
    border: solid 0.5px #b3b3b3;
    border-radius: 5px;
    padding: 5px 10px;
    color: #b3b3b3;
    font-size: 0.5rem;
    font-weight: bold;
}

.cuisine-filter-list-item:hover {
    color: white;
    background-color: #1c688e;
    border: solid 1px #1c688e;
    border-radius: 2px;
}

.cuisine-filter-list-item.selected {
    font-weight: bold;
    font-style: italic;
  }

.available-cuisines-list-show-more-button:hover {
    background-color: #1c688e;
    color: white;
}