.cuisine-filter, 
.cuisine-filter-list {
    display: flex;
    flex-direction: column;
}

.cuisine-filter {
    gap: 5px;
}

.cuisine-filter-title {
    font-weight: bold;
}

.cuisine-filter-list {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 10px;
    padding: 0px;
}

.cuisine-filter-list li {
    width: 100%;
    padding: 2px;
}

.cuisine-filter-list-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cuisine-filter-list-item-content-count {
    color: #b3b3b3;
}

.cuisine-filter-list-item:hover {
    color: white;
    background-color: #1c688e;
    border: solid 1px #1c688e;
    border-radius: 5px;
}

.selected {
    color: #1c688e;
    font-weight: bold;
  }