.payment-options-filter,
.payment-options-filter-list {
    display: flex;
    flex-direction: column;
}

.payment-options-filter {
    gap: 5px;
}

.payment-options-filter-title {
    font-weight: bold;
}

.payment-options-filter-list {
    margin: 0px 0px 0px 10px;
}