.payment-options-filter,
.payment-options-filter-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.payment-options-filter {
    gap: 5px;
}

.payment-options-filter-title {
    font-weight: bold;
}

.payment-options-filter-list {
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

.payment-options-filter-list-item:hover {
    color: white;
    background-color: #1c688e;
    border: solid 1px #1c688e;
    border-radius: 2px;
}

.payment-options-filter-list-item.selected {
    font-weight: bold;
    font-size: 1.10em;
  }