.payment-options-filter,
.payment-options-filter-list {
    display: flex;
    flex-direction: column;
}

.payment-options-filter {
    gap: 5px;
}

.payment-options-filter-title {
    font-weight: bold;
}

.payment-options-filter-list {
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

.payment-options-filter-list li:hover {
    color: #1c688e;
    font-weight: bold;
}

.rating-filter-list .selected:after {
    content: '✔';
    margin-left: 8px;
    padding: 2px;
    color: #1c688e;
    font-weight: bold;
  }